@import url(open-sans.css);
:root { scroll-behavior: smooth; }
::selection { background-color: black; color: white; }
* { margin: 0; outline-offset: -1px; padding: 0; }
:link {
	color: var(--link-color);
	text-decoration: none;
}
:link > * {
	pointer-events: none;
}
body {
	--brand-color: #ed4d57;
	background-color: white;
	font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
input { font-size: inherit; font-family: inherit; }
input[type=text] {
	border-radius: 0; border: none; background: white; border-bottom: 0.15em solid black; padding: 0.1em 0; box-sizing: border-box;
	line-height: 1.5;
	outline: none; }
input:focus { border-color: var(--brand-color); }
label { margin: 0.5em; padding: 0; color: grey; }
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
strong {
	font-weight: 600;
}
